@media (max-width: 1400px)
    .menu
        .menu_item
            padding-right: 30px


@media (max-width: 1200px)
    .menu
        .menu_item
            padding-right: 13px
        
    .promo
        .promo_header
            font-size: 42px
    .causes
        .wrapper
            margin-top: 117px
        .descr
            width: 226px

@media (max-width: 991px)
    .menu
        .menu_item
            padding-right: 1px
    .menu
        .menu_link
            font-size: 13px
    .subheader
        &_logo
            img
                width: 100%
        &_official
            font-size: 12px
        &_phone
            font-size: 13px
        &_btn
            width: 100%
            margin-top: 32px
            height: 33px
    .promo
        .promo_header
            font-size: 32px
        .promo_subheader
            font-size: 25px

    
    





    